/* VERSIONE MOBILE */
@media screen and (min-width: 576px) {
  /* Inserisci qui le regole CSS da applicare quando la larghezza dello schermo è di almeno 576px */
}

/* VERSIONE DESKTOP */
@media screen and (min-width: 1200px) {
}

.container {
  background-color: rgb(252, 247, 227);
  border-radius: 30px;
  padding: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container button {
  border: 2px solid rgb(243, 223, 134);
  background-color: rgb(243, 223, 134);
  color: rgb(91, 37, 15);
  border-radius: 96px;
  margin-right: 10px;
}

.bottoniPiccoli {
  background-color: #f3df85;
  width: 15px;
  border-radius: 96px;
  height: 3rem;
  text-align: center;
  flex-grow: 1;
  max-width: 150px;
}

.bottoneGrande {
  display: flex;
  flex-grow: 2;
  background-color: #f3df85;
  height: 6rem;
  max-width: 200px;
  border-radius: 96px;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 29px;
}

.img {
  height: 57px;
}
